.studentNav {
    display: flex;
    width: 100%;
}
.studentNav-navbar {
    display: flex;
    width : 100%;
    border-bottom: 2px solid #000;
    position : fixed;
    z-index: 1000;
    background-image: url('../assets/headerBackground.jpg');
    background-position: top; /* Center the image */
    background-size: 100% 100%; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
}

.studentNav-logo {
    width: 235px;
    height: 70px;
    margin: 10px;
    padding-right: 30px;
}

.studentNav-links {
    padding-right: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.studentNav-header {
    margin-top: 120px;
    margin-left: 750px;
}